<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - {{ title }}</title>
</head>
<body>
    <table>
    {% for group in groups %}
        <tr>
            <td>{{ group.pk }}</td>
            <td><a href="detail/{{ group.pk }}">{{ group.group_name }}</a></td>
            <td>{{ group.date_start }}</td>
            <td>{{ group.description }}</td>
            <td><a href="update/{{ group.pk }}">Edit</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>