{% extends 'base.html' %}

{% block title %}Detail of {{ teacher.first_name}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <a href="{% url 'teacher:update' teacher.pk %}/">{{ teacher.first_name }} {{ teacher.last_name }}</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ teacher.email }}</li>
                    <li class="list-group-item">
                        {{ teacher.birthday }} {% if teacher.get_age %}
                            <span class="text-muted">({{ teacher.get_age }} year)</span>
                        {% endif%}
                    </li>
                </ul>
                <a class="btn btn-outline-primary mt-3" href="{% url 'teacher:list' %}">Back to list</a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}